/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap%27");

* {
  font-family: "Poppins", sans-serif;
}

/* Formatação */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

li {
  list-style: none;
}

section {
  display: flexbox;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-self: center;
}

.titulo {
  text-align: center;
  font-size: 42px;
  font-weight: 500;
  color: #000956;
  margin-bottom: 1%;
}

.subtitulo {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 1%;
}

.texto {
  max-width: 1000px;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  margin: 0 auto;
}

.header-img {
  width: 100px;
}

.texto_destaque {
  font-weight: 600;
  color: #028dbb;
}

.container_img_texto {
  margin-top: 5%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.margin_menor {
  margin-top: none;
}

.texto_destaque_2 {
  font-weight: 600;
  color: #252525;
}

.pilares_ford_fuel {
  display: flex;
  justify-content: space-around;
}

#link-topo {
  text-decoration: none;
  color: white;
  background:linear-gradient(to bottom,#00218e,#3a68ff );
  padding: 0.725rem 0.980rem;
  position: fixed;
  right: 0.725rem;
  bottom: 0.625rem;
  box-shadow: 0.188rem 0.188rem 0.625rem #333;
  scroll-behavior: smooth;
  border-radius: 6px;
}

/* Header */

.header {
  min-height: 4.6875rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  margin-bottom: 1rem
}

.div__menu__Header {
  padding-right: 3.5%;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.menu__Header {
  text-decoration: none;
  padding: 0.3125rem 0.625rem;
  font-size: 16px;
  font-weight: 400;
  color: #028dbb;
}

.menu__Header:hover {
  color: #1b394e; /* Cor ao passar o mouse */
}

/*========== Fonts ==========*/

* {
  font-family: "Poppins", sans-serif;
}

.mobile-only {
  display: none;
}

.animate-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.nav-item a {
  text-decoration: none;
}

.banco-dados {
  font-family: "Poppins", sans-serif;
  background-size: 1500px;
  padding-top: 60px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-position-y: 200px;
  background-position-x: center;
}

.blue {
  background: linear-gradient(to bottom, #979797, #ffffff);
}

.white_font {
  color: white;
}

.grey_font {
  color: #979797;
}

.pilar_ford {
  margin: 0 20px;
  width: auto;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 3px 6px #236ea140;
  border: 1px solid #236ea138;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 27px;
  height: auto;
}

.plans {
  padding-top: 0px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nome {
  width: 20rem;
  height: 5rem;
  background-color: white;
  display: flex;
  align-items:center;
  justify-content: space-around;
  border-radius: 3rem;
}

.span-nome {
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
}

.nomes {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  text-align: center;
  justify-content: space-between;
}

.nome-link {
  cursor: pointer;
}

.nomes li {
  text-align: center;
}

.nomes li:hover {
  padding: 0.1rem 0.2rem;
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 0.1); /* efeito hover sutil */
}

.nome-rm {
  color: #028dbb;
  font-weight: 900;
  margin-left: 20px;
}

.center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.buttons-download button {
  width: 260px;
  height: 62px;
  margin-right: 17px;
  background: #00218e;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  border: 0px;
  font-size: 16px;
  margin-bottom: 20px;
}

.download-title {
  margin-top: 20px;
  color: #333333;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.buttons-download {
  display: flex;
}

.banner .mockup {
  z-index: 2;
  position: relative;
  margin-top: -20px;
  margin-bottom: -80px;
}

.text-mobile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner h1 {
  margin-top: 50px;
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  margin-bottom: 25px;
  max-width: 420px;
}

.banner p {
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  max-width: 380px;
}

.banner p b {
  font-weight: 600;
}

.banner .channels {
  margin-top: 5px;
  display: inline-block;
}

.banner h4 {
  margin-top: 50px;
  margin-bottom: 0px;
}

.banner .price {
  padding-left: 10px;
}

.banner .price h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.banner .price h5 {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  color: #95ef76;
  margin-bottom: 5px;
}

.banner h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  max-width: 300px;
}

.banner .info ul {
  list-style: none;
  padding: 0px;
}

.banner .info ul li {
  display: flex;
  margin-bottom: 10px;
}

.banner button {
  color: #7f35b2;
  background: #95ef76;
  border-radius: 15px;
  text-transform: uppercase;
  width: 220px;
  height: 48px;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}

.why {
  margin-top: 3rem !important;
  text-align: center;
}

.why-answer-by-whatsapp {
  padding: 50px 0px;
  color: #4d4d4d;
  background-color: #f5f5f5;
}

.why-answer-by-whatsapp button {
  background: #fff;
  border: none;
  width: 100%;
}

.why-answer-by-whatsapp h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.why-answer-by-whatsapp .item {
  background: #ffffff;
  font-size: 20px;
  box-shadow: 1px 7px 8px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  min-height: 139px;
  color: #1e9eb7;
  font-weight: 600;
  margin-bottom: 10px;
}

.plans {
  padding: 70px 0px 30px;
}

.plans h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #4f4c4d;
}

.plans p {
  max-width: 700px;
  font-size: 20px;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #4f4c4d;
  text-align: center;
}

.download-paragrafo {
  max-width: 700px;
  font-size: 16px;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #000000;
  text-align: center;
}

.plans .items {
  max-width: 1050px;
  margin: 0 auto;
  position: relative;
  right: -12%;
}

.plans .items .item {
  margin: 0 10px;
  background: #00c5ff;
  filter: drop-shadow(1px 7px 8px rgba(0, 0, 0, 0.15));
  border-radius: 45px;
  padding: 30px;
  color: #4f4c4d;
}

.plans .items .item h3 {
  font-weight: 700;
  font-size: 32px;
  margin-top: 15px;
}

.plans .items .item ul {
  padding-top: 20px;
  list-style: none;
  padding-left: 0;
  position: relative;
  min-height: 255px;
}

.plans .items .item ul li {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  padding-left: 30px;
}

.plans .items .item ul li::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../assets/images/checkmark3.svg");
  left: 0;
  position: absolute;
}

.plans .items .item.light {
  background: #00c5ff;
  color: #fff;
  width: 100%;
  height: 432px;
}

.plans .items .item.light p {
  color: #fff;
}

.title_bd {
  color: #00218e;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
  font-size: 32px;
  line-height: 39px;
}

.title_desp_dado {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
  font-size: 32px;
  line-height: 39px;
}

.title_etl {
  color: #000000;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
  font-size: 32px;
  line-height: 39px;
}

.how-it-works {
  /* background: #1E9EB7; */
  background-color: #f5f5f5;
  padding: 50px 0px;
  color: #1e9eb7;
  text-align: center;
  background-size: contain;
  background-position-x: right;
  background-repeat: no-repeat;
}

.cloud-p {
  color: #000;
}

.how-it-works h2 {
  font-weight: 700;
  margin-bottom: 50px;
  font-size: 32px;
  line-height: 39px;
}

.how-it-works p {
  font-weight: 500;
}

.how-it-works .items {
  display: flex;
}

.how-it-works .items .item {
  width: 20%;
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin-right: 18px;
  margin-top: 31px;
}

.how-it-works .items .item p {
  max-width: 241px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-weight: 500;
}

.how-it-works button {
  background: #95ef76;
  border-radius: 15px;
  width: 262px;
  height: 48px;
  text-transform: uppercase;
  border: 0px;
  color: #751bb1;
  font-weight: 700;
  margin-top: 50px;
}

.how-it-works::after {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  top: 0;
  padding: 1rem;
  clip-path: polygon(0 100%, 100% 100%, 100% 92%);
}

.hr-cloud {
  color: #00c5ff;
}

.linha-abs {
  font-size: 22px !important;
  font-weight: 600 !important;
  margin: 50px 0px 25px 0px;
  color: #000;
}

.padronizacao-item-title {
  color: #ffffff;
  font-size: 22px !important;
  font-weight: 600 !important;
}

.pages-p {
  text-align: center;
  margin-bottom: 5rem;
}

.pages-transacao {
  width: 70%;
  text-align: center;
  margin-bottom: 4rem;
}

.center-padron {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.padronizacao-item-p {
  text-align: center;
  margin-top: 2rem;
}

.more-info {
  background-color: #000;
  /* margin-top: 20px; */
  padding-top: 50px;
}

.more-info p {
  color: #fff;
  font-size: 16px;
}

.more-info h2 {
  color: #fff;
}

span.detail {
  width: 250px;
  height: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #028dbb;
  margin-bottom: 20px;
}

.video {
  /* background: #7F35B2; */
  position: relative;
  padding: 50px 0px 100px;
  text-align: center;
  color: #1e9eb7;
}

.video .btn-download {
  background: #1e9eb7;
  color: #fff;
  height: 82px;
  margin-bottom: 50px;
}

.video::after {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  top: 0;
  padding: 1rem;
  clip-path: polygon(0 100%, 100% 100%, 100% 95%);
  background: linear-gradient(to left, #00165e, #ffffff);
}

iframe {
  width: 70%;
  margin-bottom: 50px;
  margin-top: 30px;
}

.video h2 {
  margin: 50px 0px 0px 0px;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 30px;
}

.video h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  text-align: center;
}

.video .item {
  border: 1px solid #1e9eb7;
  /* padding: 20px; */
  border-radius: 25px;
  min-height: 107px;
}

.video .item p {
  margin-top: 20px;
  overflow-wrap: break-word;
}

.video p.mobile-only {
  margin-bottom: 0px;
  margin-top: 20px;
}

.benefits {
  padding: 50px 0 70px;
  color: #4f4c4d;
}

.benefits h3 {
  font-size: 30px;
  font-weight: 700;
}

.benefits h5 {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  padding: 0 20px;
}

.benefits .table img {
  margin: 0 auto;
  display: block;
}

.benefits .logo-mutant {
  display: none;
  width: 168px;
}

.benefits .table .logo-partner {
  max-width: 170px;
}

.benefits .table .logo-partner {
  max-width: 170px;
}

.benefits .table-striped > tbody > tr:nth-of-type(odd) > * {
  background: #e9f3f9;
  border: 0px;
}

.benefits .table tr td,
.benefits .table tr th {
  height: 64px;
  vertical-align: middle;
  font-size: 16px;
}

.benefits .table tr td:first-child,
.benefits .table tr th:first-child {
  padding-left: 40px;
}

.benefits .table > :not(caption) > * > * {
  box-shadow: none;
  border: 0px;
  color: #4f4c4d;
}

.bot-about {
  background: #1e9eb7;
  color: #fff;
  position: relative;
  padding: 100px 0px 85px;
}

.bot-about::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  clip-path: polygon(0 0, 100% 10%, 100% 0);
  background: #fff;
}

.bot-about::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -1px;
  padding: 1rem;
  clip-path: polygon(0 92%, 0% 100%, 100% 100%);
  background: #fff;
}

.bot-about .bot-builder {
  z-index: 3;
  position: relative;
  top: -115px;
  margin-left: auto;
  display: block;
  margin-right: 30px;
  width: calc(100% - 30px);
  margin-bottom: -115px;
}

.bot-about h2 {
  font-size: 30px;
  font-weight: 700;
}

.bot-about h4 {
  font-size: 16px;
  font-weight: 600;
}

.bot-about p {
  font-size: 16px;
  font-weight: 100;
}

.bot-about button {
  background: #95ef76;
  border-radius: 15px;
  width: 262px;
  height: 48px;
  text-transform: uppercase;
  border: 0px;
  color: #751bb1;
  font-weight: 700;
  margin-top: 15px;
}

footer {
  background: #252525;
  padding: 30px 0px;
  color: #fff;
  text-align: center;
}

footer ul li {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}

/* FORMS */

form {
  padding: 20px;
  width: 50%;
  height: 80%;
  margin-left: 73px;
  margin-bottom: 63px;
  margin-top: 3rem;
}

.form-title {
  background: #00c5ff;
  padding: 20px;
  color: #fff;
  margin-top: 27px;
}

form h1 {
  text-align: left;
  font-size: 30px;
  color: #00c5ff;
}

.input-group {
  position: relative;
}

.input {
  font: inherit;
  color: #616161;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #616161;
  outline: none;
  padding-block: 5px;
  margin-top: 70px;
  width: 60%;
}

.update-form {
  display: flex;
  background: #f5f5f5;
}

input::placeholder {
  color: inherit;
  transition: opacity 0.25s;
}

.input:focus::placeholder {
  opacity: 0;
}

.border-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60%;
  height: 2px;
  background-color: #87d2f5;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.input:focus + .border-bottom,
.input:valid + .border-bottom {
  transform: scaleX(1);
}

input[type="submit"] {
  background: #00c5ff;
  color: #fff;
  border: 0px;
  width: 145px;
  height: 43px;
  border-radius: 10px;
  margin-top: 50px;
}

/* Media queries */

@media (max-width: 1400px) {
  .buttons-download {
    display: flex;
    flex-direction: column;
  }

  .imagem-mobile {
    display: none;
  }

  .slider-why-answer-by-whatsapp .item {
    font-size: 16px;
  }

  .banco-dados {
    font-family: "Poppins", sans-serif;
    background-size: 1500px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-position-y: 200px;
    background-position-x: center;
  }

  .itemsbp {
    max-width: 800px;
    margin: 0 auto;
  }

  .itemsbp span {
    font-weight: 600;
    color: #028dbb;
  }

  .itembp {
    margin: 0 20px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 3px 6px #236ea140;
    border: 1px solid #236ea138;
    border-radius: 10px;
    padding: 30px;
    height: max-content;
    margin-bottom: 27px;
  }
}

li {
  font-size: 16px;
  text-align: start;
  line-height: 2;
}

.item p {
  margin-bottom: 20px;
}

.cloud-preco {
  display: grid;
  margin-bottom: 0;
}

.cloud-preco img {
  width: 100%;
  margin-bottom: 55px;
}

.cloud img {
  width: 100%;
}

@media (max-width: 1200px) {
  .banner .mockup {
    margin-top: 90px;
  }

  .bot-about .bot-builder {
    top: 0;
    margin-bottom: 0;
  }

  .why-answer-by-whatsapp .item p {
    padding-bottom: 20px;
  }

  footer ul {
    padding-top: 0px;
  }
}

@media (max-width: 992px) {
  header .nav ul {
    margin-left: 20px;
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }

  header .nav ul button {
    margin-bottom: 20px;
    display: block;
  }

  .banner .info button {
    width: 100%;
  }

  .banner h1 {
    font-size: 22px;
    line-height: 28px;
  }

  .banner .price h4 {
    font-size: 16px;
  }

  .banner h6 {
    font-size: 18px;
  }

  .banner .info ul li {
    font-size: 14px;
  }

  .plans .items .item {
    margin: 0;
  }

  .plans .items .item ul {
    min-height: auto;
  }

  .plans .items .item ul li {
    font-size: 14px;
  }

  .enterprise h2 {
    font-size: 27px;
    text-align: left;
  }

  .enterprise {
    padding: 70px 0px 20px;
  }

  .how-it-works {
    background-image: none;
  }

  .customers .logo img {
    max-height: 60px;
  }

  .customers .logo-caixa {
    padding: 0;
    margin-top: 17px !important;
  }

  .bot-about::before {
    clip-path: polygon(0 0, 100% 4%, 100% 0);
  }

  .bot-about::after {
    clip-path: polygon(0 96%, 0% 100%, 100% 100%);
  }
}

@media (max-width: 768px) {
  .header-container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
  }

  .header-img {
    width: 160px;
  }

  .abordagem {
    text-align: center;
    font-size: 1.2rem;
  }

  .pillar-ul-padding {
    padding: 0;
  }

  .row-lang-div {
    flex-direction: column-reverse !important;
  }

  .pilares_ford_fuel {
    display: flex;
    flex-direction: column;
  }

  .div__menu__Header {
    display: none;
  }

  .img-fluid {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
  }

  .img-lang {
    display: flex;
    justify-content: center;
  }

  .update-form {
    flex-direction: column;
  }

  .nomes {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  form {
    width: 100%;
  }

  .video::before {
    clip-path: polygon(0 0, 0 1%, 100% 0);
  }

  .video::after {
    clip-path: polygon(0 100%, 100% 100%, 100% 99%);
  }

  .video h2 {
    margin-top: 20px;
  }

  .video button {
    width: 100%;
  }

  .video .item {
    margin-bottom: 20px;
  }

  .benefits {
    padding: 50px 0;
  }

  .benefits .container {
    padding: 0;
  }

  .benefits table {
    table-layout: fixed;
  }

  .benefits .table tr td:first-child,
  .benefits .table tr th:first-child {
    padding-left: 20px;
  }

  .benefits .table tr td {
    padding: 20px;
  }

  .benefits h3 {
    font-size: 20px;
  }

  .benefits h5 {
    font-size: 14px;
    text-align: center;
  }

  .benefits table th:nth-child(1n) {
    width: 46%;
  }

  .benefits table th:nth-child(2n) {
    width: 27%;
  }

  .benefits table th:nth-child(3n) {
    width: 27%;
  }

  .benefits .table .logo-partner {
    display: none;
  }

  .benefits .logo-mutant {
    display: block;
  }

  .bot-about::before {
    clip-path: polygon(0 0, 100% 2%, 100% 0);
  }

  .bot-about::after {
    clip-path: polygon(0 98%, 0% 100%, 100% 100%);
  }

  .bot-about {
    padding-top: 0;
  }

  .bot-about .bot-builder {
    top: -40px;
    width: 100%;
    margin-left: 0;
  }

  .bot-about button {
    width: 100%;
  }

  .customers .logo img {
    max-height: 76px;
  }

  footer ul {
    padding-top: 40px;
    padding-left: 0;
  }

  footer {
    padding: 50px 0px;
    overflow-wrap: break-word;
  }

  footer .logo {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .container_img_texto {
    flex-direction: column;
    padding: 1rem 0;
  }

  .texto {
    text-align: justify;
    padding: 0 1rem;
  }
}
